*{
    padding: 0px;
    margin: 0px;
}

.wrap{
    width: 1250px;
    margin: 0px auto;
}


#logo{
    width: 95.5%;
    height: 100px;
    border: 10px solid white;
    box-shadow: 0px 0px 2px gray;
    background-color: #156785;
    background-position: -200px -200px;
    margin: 20px auto;
    
}

#logo h1{
    display: block;
    width: 850px;
    font-family: "BebasNeue";
    color: white;
    font-size: 45px;
    letter-spacing: 2px;
    margin: 27px auto;
    font-weight: normal;
    text-shadow: 2px 2px 1px black;
    
    
}



#login input[type="email"],
#login input[type="password"],
#login input[type="number"],
#login input[type="text"],select
{
    display: block;
    margin: 0px auto;
    width: 77%;
    height: 30px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc inset;
    border-radius: 5px;
    margin-top: 15px;
    padding-left: 30px;
}
#login input[type="file"],
#login input[type="date"],
#login input[type="color"]
{
    display: block;
    margin: 0px auto;
    width: 77%;
    height: 30px;
    font-size: 14px;
    margin-top: 20px;
    padding-left: 30px;
}

#login input[type="radio"]{
   /* display: block;*/
    margin: 0px auto;
    width: 10%;
    height: 20px;
    font-size: 14px;
    margin-top: 30px;
    padding-left: 30px;   
}

#login input[type="email"],
#login input[type="password"],
#login input[type="number"],
#login input[type="text"]:focus{
    color: #555555;
    box-shadow: 1px 1px 1px grey inset;
}

#login #user,
#login #password,
#login #name,
#login #age{
    text-align: center;
    display: block;
    position: absolute;
    margin-left: 15px;
    margin-top: 10px;
    padding-top: 10px;
    height: 30px;
}
#login #name{
    text-align: center;
    display: block;
    position: absolute;
    margin-left: 15px;
    margin-top: 10px;
    padding-top: 0px;
    height: 30px;
}
.label{
    text-align: center;
    display: block;
    position: absolute;
    margin-left: 15px;
    margin-top: 10px;
    padding-top: 10px;
    height: 30px;
}






#login input[type="submit"],
#login input[type="reset"]{
    margin-left: 17px;
    border: 1px solid #156785;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    width: 100px;
    height: 35px;
    margin-top: 20px;
    color: white;
    background: linear-gradient(to bottom, #37bcf9 0%, #2ca0ca 100%);
    transition: all 300ms;
    margin-bottom: 20px;
}

#login input[type="submit"],
#login input[type="reset"]:hover{
    box-shadow: 0px 0px 3px gray;
}

#login label{
    text-decoration: none;
    display: block;
    color: #555555;
    margin-left: 18px; 
    
    font-size: 18px;
    
}

